[mysqld]
bind-address          = 0.0.0.0
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci
innodb_buffer_pool_size = 1G
innodb_log_file_size = 256M
innodb_flush_method = O_DIRECT
max_connections = 200
max_allowed_packet = 64M
skip-name-resolve
default-authentication-plugin=mysql_native_password
